# Backend
backend/bin/
backend/obj/
backend/.vs/
backend/.vscode/
backend/**/*.csproj.user
backend/**/appsettings.Production.json
backend/**/*.cache
backend/**/DesignTimeBuilds/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# General
.DS_Store
*.log